{% extends "slate_layout.html" %}
{% block title %}Shows configuration page{% endblock %}

{% block content %}
<div class="item-container">
  <div class="item-container-content">
    <div class="item">
      <p>
        Nice! The watchapp is now ready!
        {#You can also use the "Discover" menu in the watchapp to find and add some shows!#}
      </p>
    </div>
  </div>
</div>
<div class='item-container'>
  <div class="button-container">
    <a href="{{ url_for('pebble_config_return') }}">
      <input type="button" class="item-button" value="Return to the app!">
    </a>
  </div>
</div>
<div class='item-container'>
  <div class="button-container">
    <a href="{{ url_for('logout') }}">
      <input type="button" style="background-color: green;" class="item-button" value="Log-out">
    </a>
  </div>
</div>
{% endblock %}
