{% extends "slate_layout.html" %}
{% block title %}Shows{% endblock %}

{% block content %}
<div class="item-container">
  <div class="item-container-content">
    <div class="item">
      <p class="center">
        Hello! The Shows watchapp uses <a href="https://trakt.tv">trakt.tv</a> to keep
        track of your shows.
      </p>
    </div>
  </div>
</div>
<div class="item-container">
  <div class="button-container">
    <a href="{{ url_for('login') }}">
      <input type="button" class="item-button" value="Connect the app to Trakt.tv">
    </a>
  </div>
</div>
{% endblock %}
